PORT=8787
MONGODB_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/lumea?retryWrites=true&w=majority
JWT_SECRET=replace-with-same-secret-as-auth-service
UPSTASH_REDIS_URL=https://YOUR-ENDPOINT.upstash.io
UPSTASH_REDIS_TOKEN=YOUR-TOKEN
NODE_ENV=development
